.btnGlobal,
.formMenu select{
  padding:10px 40px;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.8px;
}

.btnLandingPage,
.btnStop{
  background-color:white;
}
.btnLandingPage{
  border:none
}

.btnStart,
.btnStop {
  margin:30px 10px;
  background-color: black;
  border: 2px solid white;
  color:white;
}


.btnGlobal:active {
  background-color: grey;
}


