.btnGlobal{
  padding:10px 40px;
  font-family: 'Quattrocento', serif;
  letter-spacing: 0.8px;

 
}

.btnLaunch {
  margin-left:20px;
}


.btnLandingPage{
  background-color:white;
}
.btnLandingPage{
  border:none
}

.btnStart,
.btnStop {
  margin:30px 10px;
  background-color: black;
  border: 2px solid white;
  color:white;
}

.btnGlobal:active {
  background-color: rgba(173, 232, 240, 0.89);
}


