.formMenu {
  margin:0 20px;

  select {
    border:none;
    font-family: 'Quattrocento', serif;
    cursor: pointer;
    text-align: center;
    text-align-last:center;
    padding:11px 0;
    width:200px;
  }
}

