.weatherBG{
  width: 100%;
  top:100px;
  position: absolute;
  // margin-top:120px;
  background-size: cover;
  background-repeat: no-repeat;
  background:url(../assets/cloud.png) repeat-x 0 / 100% auto;
  height:300px; 
  animation: ani 15s linear infinite ;
    @keyframes ani {
      0%{background-position: 0 0;}
      100%{background-position: 100vw 0;}
    }
}

.headerTitle {
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerTitle h1 {
  font-family: 'Cinzel', serif;
  letter-spacing: 40px;
  font-size: 1.3rem;
  // margin-top: -60px;
}

.headerTitle span,
footer p span {
  color: black;
}

.startStop {
  margin-top: 170px;
}

// footer {
//   position: fixed; 
//   bottom: 0;
//   left:30.45%;
//   right:30%;
//   width:40%;
//   padding-bottom: 20px;
//   font-size:10px;
//   text-align: center;
//   letter-spacing: 1px;
// }   

// footer p:first-child {
//   padding-right: 2.8px;
// }

// footer p span,
// .headerTitle h1:first-child {
//   color:white;
// }

.fa-spinner {
  color: rgba(173, 232, 240, 0.89);
  margin-top:250px;
  font-size:3rem;
}


