@media screen and ( min-height: 800px ){
  .controlPanel {
    height:500px;
  }
}

@media (max-width:900px){

  .headerTitle h1,
  .landingPage h2 {
    font-size:1rem;
    letter-spacing: 20px;
  }


  .rain {
    margin-top:60px;
    height:230%;
  }
}

@media (max-width:750px){
  .landingPage {
    margin-right:5%;
    margin-left:5%;
  }
}

@media (max-width:586px){
  img {
    height:180px;
  }
}

@media (max-width:500px){

  .headerTitle h1 {
    letter-spacing: 9px;
  }
  .landingPage{
    margin-top: 100px;

    h2 {
      letter-spacing: 3px;
    }

  }
}

@media (max-width:425px){
  .btnLaunch {
    margin-left:0px;
    margin-top: 30px;
  }

  .formMenu {
    display:flex;
    flex-direction:column;
    margin:0 67px;


    select {
      width:100%;
    }
  }
}

@media (max-width:392px) {

  .headerTitle h1,
  .landingPage h2 {
    font-size: 0.8rem;
  }

  .landingPage {
    p,
    li {
      font-size: 0.7rem;
    }
  }

  .rain {
    margin-top:30px;
    height:180%;
  }

  img {
    margin-top:190px;
    height:140px;
  }

}
